/* brand color user throughout the project */
.brand-color {
  color: #286638;
}

/* footer content styling */
#footer {
  margin-top: 185px;
}

.large-circle {
  min-width: 75px;
  max-width: 100px;
  aspect-ratio: 1;
  border-radius: 50%;
  background-color: #286638;
  margin: 0 auto;
}

.stats {
  color: white;
  text-align: justify;
  font-size: xx-large;
  padding-top: 25%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.stats-description {
  font-size: large;
  padding-top: 3%;
  padding-bottom: 7%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: green;
}

.stats-description:last-child {
  padding-bottom: 3%;
}

/* task link styling */
.task-link, .filter-link {
  text-decoration: none;
}

/* media queries */
@media screen and (min-width: 768px) {
  /* aligns task height */
  .card-body {
    min-height: 192px;
  }

  .card-header {
    min-height: 106px;
  }

  .intro-header, .intro-body, .submission-header, .submission-body {
    min-height: 0;
  }
}
