/* brand color user throughout the project */
.brand-color {
  color: #286638;
}

/* footer content styling */
.large-circle {
  min-width: 75px;
  max-width: 120px;
  aspect-ratio: 1;
  border-radius: 50%;
  background-color: #286638;
  margin: 0 auto;
}

.stats {
  color: white;
  text-align: justify;
  font-size: xx-large;
  padding-top: 25%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.stats-description {
  font-size: x-large;
  padding-top: 3%;
  padding-bottom: 7%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: green;
}

.stats-description:last-child {
  padding-bottom: 3%;
}

/* task link styling */
.task-link, .filter-link {
  text-decoration: none;
}

/* media queries */
/* aligns task height */
@media screen and (min-width: 767px) {
  .card-body {
    min-height: 192px;
  }
}
