{% extends "base.html" %}

{% block content %}

<!-- task creation form -->
<section id="task-creation" class="mb-5">
    <form method="POST">
        <div class="container">
            <div class="row">
                <form method="POST">
                    <div class="col-md-6">
                        <h2 class="brand-color">
                            New submission
                        </h2>
                        {% csrf_token %}
                        {{ form.as_p }}
                    </div>
                    <!-- profile update/creation section -->
                    <div class="col-md-6">
                        <div class="card mb-3">
                            <div class="card-header submission-header">
                                <h2 class="brand-color">
                                    Your Contact Details
                                </h2>
                            </div>
                            <div class="card-body submission-body">
                                <p>
                                    <em>
                                        Make sure to update your contact details.
                                    </em>
                                </p>
                                <p>
                                    Your general location will be visible to everyone. Remaining details will be visible
                                    to
                                    the
                                    user who accepts your task.
                                </p>
                                {{ profile_form.as_p }}
                            </div>
                        </div>
                        <br>
                        <div class="row">
                            <div class="col offset-9 mb-2">
                                <input class="btn btn-success ml-5" type="submit" value="Submit">
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </form>
</section>

{% endblock %}
<!-- following block disables deadline choice being a past date -->
<!-- this was provided by my mentor and was not created by me -->
{% block extrajs %}
    <script>
        let now = new Date();
        let minDate = now.toISOString().substring(0,10);
        let finalDate = document.getElementById("id_final_date");
        finalDate.setAttribute("min", minDate);
    </script>
{% endblock %}