{% extends "base.html" %}

{% block content %}

<!-- bootstrap form code, customized -->
<div class="container">
    <div class="row">
        <div class="col-md-6 offset-md-3">

            <form method="POST">
                {% csrf_token %}
                {{ form.as_p }}
                <!-- {% for i in form.errors %}
                {{i}} -->
                <!-- {% endfor %}
                {% if form.errors %}
                    error!
                {% endif %} -->
                <!-- <div class="form-group">
                    <label for="task-title">Task Title</label>
                    <input type="text" placeholder="Name of your task" name="task-title" id="task-title" required>
                </div>
                <br>
                <p>Category:</p>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="category" id="elderly"
                        value="Helping the elderly" checked required>
                    <label class="form-check-label" for="elderly">
                        Helping the elderly
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="category" id="youth"
                        value="Helping the youth">
                    <label class="form-check-label" for="youth">
                        Helping the youth
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="category" id="disability"
                        value="Helping the people with disability">
                    <label class="form-check-label" for="disability">
                        Helping the people with disability
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="category" id="groceries"
                        value="Grocery run">
                    <label class="form-check-label" for="groceries">
                        Grocery run
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="category" id="diy"
                        value="DIY, minor home improvements">
                    <label class="form-check-label" for="diy">
                        DIY, minor home improvements
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="category" id="urgent"
                        value="Urgent">
                    <label class="form-check-label" for="urgent">
                        Urgent
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="category" id="other"
                        value="Other">
                    <label class="form-check-label" for="other">
                        Other
                    </label>
                </div>
                <br>
                <div class="form-group">
                    <label for="task-description">Task Description</label>
                    <textarea class="form-control" id="task-description" name="task-description" rows="7" required></textarea>
                </div>
                <br>
                <div>
                    <label for="date">Deadline,  if applicable:</label>
                    <input type="date" id="deadline" name="deadline">
                </div> -->
                <br>
                <div class="row">
                    <div class="col offset-9">
                        <input class="btn btn-success ml-5" type="submit" value="Update">
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

{% endblock %}