{% extends "base.html" %}

{% block content %}

<div class="container">
    <div class="row">
        <!-- line below borrowed and customized from:
        https://docs.djangoproject.com/en/4.2/topics/pagination/ -->
        <h2 class="text-success mb-4">Your open tasks:</h2>
        {% for own_task in own_tasks %}
        <div class="col-md-6 col-lg-4">
            {% if user.is_authenticated %}
            <a href="{% url 'display-task' own_task.id %}" class="task-link">
            {% else %}
            <a href="{% url 'account_login' %}">
            {% endif %}
                <div class="card mb-3">
                    <div class="card-header">
                         <h3 class="text-success">
                            {{ own_task.title }}
                        </h3>
                    </div>
                    <div class="card-body">
                        {% if not own_task.helper %}
                        <p class="text-success">
                            <em>{{ own_task.category }}</em>
                        </p>
                        {% else %}
                        <p class="text-success"></p>
                            Helper: {{ own_task.helper }} | <em>{{ own_task.category }}</em>
                        </p>
                        {% endif %}
                        <p class="card-text">
                            {{ own_task.task_snippet }}
                        </p>
                    </div>
                </div>
            </a>
        </div>
        <!-- need to test empty clause after deleting tasks -->
        {% empty %}
        <div class="col-md-6 col-lg-4">
            <div>
                There are currently no available tasks.
            </div>
        </div>
        {% endfor %}
    </div>
    <!-- pagination section -->
    <div class="row">
        <!-- below code has been taken from:
        https://docs.djangoproject.com/en/4.2/topics/pagination/ -->
        <div class="col-4 offset-4 offset-md-5 pt-5 pagination">
            <span class="step-links text-success">
                {% if page_obj.has_previous %}
                <a href="?page=1" class="text-success">&laquo; first</a>
                <a href="?page={{ page_obj.previous_page_number }}" class="text-success">previous</a>
                {% endif %}

                <span class="current text-success">
                    Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                </span>

                {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}" class="text-success">next</a>
                <a href="?page={{ page_obj.paginator.num_pages }}" class="text-success">last &raquo;</a>
                {% endif %}
            </span>
        </div>
    </div>

    {% endblock %}