{% extends "base.html" %}


{% block content %}

<!-- renders profile section where user can add or edit profile -->
<section id="profile-tab" class="mb-3">
    <div class="container">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <h2 class="brand-color">
                    Your Profile
                </h2>
                <form method="POST">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <br>
                    <div class="row">
                        <div class="col offset-9">
                            <input class="btn btn-success ml-5" type="submit" value="Submit">
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>

{% endblock %}