{% extends "base.html" %}

{% block content %}


<div class="container">
    <div class="row">
        <!-- helper is not assigned check -->
        {% if not task.helper %}
        <div class="col-md-8 offset-md-2">
            <h2 class="brand-color">{{ task.title }}</h2>
            <p class="brand-color">From: {{ task.owner }} | {{ task.category }}</p>
            {% if task.final_date %}
            <p class="brand-color"><strong>Deadline: {{ task.final_date }}</strong></p>
            {% endif %}
            <div>{{ task.description }}</div>
        </div>
        <div>
            <!-- task owner check -->
            {% if request.user == task.owner %}
            <div class="btn-toolbar mt-3" role="toolbar" aria-label="Toolbar with button groups">
                <div class="btn-group ml-5" role="group" aria-label="Edit task">
                    <a href="{% url 'edit-task' task.id %}">
                        <input class="btn btn-success ml-5" type="edit" value="Edit the Task">
                    </a>
                </div>
                <div class="btn-group ms-sm-auto" role="group" aria-label="Delete the task">
                    <a href="{% url 'delete-task' task.id %}">
                        <input class="btn btn-warning ml-5" type="delete" value="Delete the Task">
                    </a>
                </div>
            </div>
            <!-- renders acceptance button if not owner and no helper -->
            {% else %}
            <form method="POST">
                {% csrf_token %}
                <div class="col offset-4 offset-sm-7">
                    <input class="btn btn-success ml-5" type="submit" value="Accept the Task">
                </div>
            </form>
            {% endif %}
            {% endif %}
        </div>
    </div>
</div>

{% endblock %}